name: Tasca5

on:
  push:
    branches:
      - main

jobs:
  unit-tests:
    name: Tests Unitaris
    runs-on: ubuntu-latest

  services:
    mysql:
      image: mysql:8
      env:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: Circuit10KSpring
      ports:
        - 3306:3306
    options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1 -proot"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout del codi
        uses: actions/checkout@v4

      - name: Configurar Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Instalando MySQL client
        run: sudo apt-get install mysql-client

      - name: Show databases
        run: mysql -h 127.0.0.1 -uroot -proot -e "SHOW DATABASES;"

      - name: Executar tests unitaris
        run: mvn clean test -Dspring.profiles.active=ci
